{
  "extends": "airbnb",
  "globals": {
    "L": false
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": [0],
    "import/no-extraneous-dependencies": [0]
  }
}
